.prefs {
    margin-top: 95px;
    min-height: 340px;
    background-color: $black;

    &__list {
        @include flex-center;
        flex-wrap: wrap;
        gap: 30px;
        padding: 104px 0;
    }

    &__item {
        max-width: 350px;
        @include flex-center;
        flex-direction: column;
    }

    &__item-icon {
        fill: $pink-text;
    }

    &__item-title {
        color: $white-text;
        @include font(20px);
        text-transform: capitalize;
    }

    &__item-text {
        color: $grey-text;
        @include font(14px, 17px, 300);
        text-align: center;
    }
}